<header>
  <div id="particles-js" style="z-index: -1;"></div>
  <nav>
     <div class="appleNav">
        <ul>
           <li>
              <a href="#"><img class="avatar" style="margin-top: 50px;" src="{{ "images/logo.png" | prepend: site.baseurl | replace: '//', '/' }}" height="80"></a>
           </li>
           <li><a href="" class="menu-link"><b>BLOG</b></a></li>
           <li><a href=""><b>PROJECTS</b></a></li>
           <li><a href=""><b>GALLERY</b></a></li>
           <li><a href="labs/index.html"><b>LABS</b></a></li>
        </ul>
     </div>
  </nav>
</header>
