
body {
  background: #1F1F2B !important;
  font-family: sans-serif;
  color: #f5f5f5;
  margin: 0;
}


 h2 { color: #e6db74; }
 p { color: white; }

  .button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

a:link {
  text-decoration: none;
}

.footer {
    background-color: #555;
    color:#fff;
    margin-top: 10 px;
    padding-top: 10px;
    padding-bottom: 10px;
	  position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:[footer-height]
    }



.card {
  background: #282A39;
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  margin: 1rem;
  position: relative;
  width: 430px;
  border: 2px solid #a6e22e;
  opacity: 0.7;
  z-index: -1;
}

.card-1 {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card1 {
  border-radius: 1px;
  display: inline-block;
  height: 220px;
  margin: 0px;
  position: relative;
  width: 430px;
  border: 1px solid #a6e22e;
  z-index: -1;
}

.card-2 {
  margin-top: 260px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.avatar {
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    border: 2px solid white;
}

.spiderprof {
    border: 2px solid #333;
}

nav {
  height: 48px;
  background: #555;
  opacity: 500;
filter: alpha(opacity=500);
}

nav ul {
  display: flex;
  height: 48px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

nav li {}

nav a {
  display: block;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #B8B8B8;
}

.appleNav {
  max-width: 980px;
  margin: 0 auto;
}


:root{
 --color-hover: #555;
}

.menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    background-color: ;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
}

.submenu .submenu{
    left: 100%;
    top: 0;
}

.menu-item{
    position: relative;
}

.menu-item:hover{
    background-color: var(--color-hover);
}


.menu-item:hover > .submenu{
    display: block;
}

.menu-link{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 3px;
}
/* ---- reset ---- */canvas{ display: block; vertical-align: bottom; }
/* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; }
/* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
.js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

/*Prof Hide*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0.3;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: 8px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.close:hover {
  color: #06D85F;
}

.box {
max-width: 280px;
padding: 25px 25px 25px 25px;
margin: 0 auto;
color: white;
background-color: #282A39;
border: 1px solid #a6e22e;
}
